.container{
  
    text-align: center;
    
}
table{
    display: flex;
    justify-content: center;
    margin:  auto ;
    background-color: aqua;

}
.model-head{
    padding: 0%;
    text-align: left;
}

th,td{
    padding: 2vh 5vh;
}

#button{
        margin:10vh auto;
        padding: 4% 20%;
        color:#3a1c1c;
        text-align:center;
        border-radius: 10px;
        border: none;
        text-decoration: none;
        background-color: #0fee22;
        font-size: larger;
        font-weight: bold;
}
#button:hover{
    background-color:rgb(21, 250, 9) ;
    color: #fcf9f9;
    border:1px solid rgb(26, 219, 9) ;
}
option{
    text-align: center;
}
@media(max-width:992px){
    th,td{
        padding:2vh ;
    }
}
.modal-body{
    background-color: aqua;
}
.output{
    border: 0.2px solid black;
    background-color: white;
    padding: 0.5vh 5vh;
    margin-top: 5%;
}
.cred{
    width: 5vh;
    height: 3vh;
    text-align: center;
    border:0.2px solid #727070 ;
}
.semister{
    width: 10vh;
    height: 3vh;
    text-align: center;
    border:0.2px solid #727070 ;
}